@import "tailwindcss";

body {
  overflow-x: hidden;
}

@theme {
  --color-primary_color: #b0dd1d;
  --color-bg_gray: #f2f4f6;
  --color-text_color: #1a1a1a;
}

.custom_button_style {
  @apply bg-primary_color text-text_color rounded-full px-[32px] py-[16px];
}

.customBackground {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
}
